<div class="page-shell">
  <div class="page-header">
    <div>
      <h1 class="title-xl">New project</h1>
      <p class="page-subtitle">Create a project and start building your team.</p>
    </div>
  </div>

  <%= render "form", project: @project %>
</div>
